* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

img {
    max-height: 300px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

    img {
        max-height: 150px;
    }
}