* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    width: 100%;
    background: blue;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: aliceblue;
}