* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 80px;
    width: 100%;
    background: blue;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: aliceblue;
}

.nav ul {
    display: flex;
    gap: 30px;
}

.nav ul li {
    list-style-type: none;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-content {
    border: 2px solid black;
    height: 100px;
    width: 100%;
}

.cards {
    height: 100px;
    width: 100px;
    background: aqua;
    border-radius: 10px;
}