* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: aquamarine;
    height: 100vh;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
    flex-wrap: wrap;
}

.cards {
    height: 150px;
    width: 150px;
    background: blue;
    border-radius: 10px;
}