*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background: rgb(0, 0, 82);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    color: aliceblue;
    margin-bottom: 20px;
}

button {
    border: none;
    border-radius: 10px;
    background: green;
    color: aliceblue;
    padding: 15px 10px;
    font-size: 20px;
    font-weight: bolder;
    transition: .2s ease;
}

button:hover {
    background: greenyellow;
    color: blue;
}