* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    padding: 20px;
    background: #d6d6d6;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
}

.itens {
    height: 150px;
    width: 100%;
    background: black;
    border-radius: 15px;
}

.itens:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}