* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather Sans, sans-serif;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background-color: var(--body-bg-color);
}

.left {
  width: 25%;
  color: var(--text-color);
}

img {
  color: aliceblue;
}

.box {
  margin: 1.5rem;
  padding: 1rem;
  background: var(--bg-cards);
}
