* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  padding: 0 30px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  background: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  list-style: none;
}

li {
  background: white;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li a {
  text-decoration: none;
}

li {
  transition: 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.1);
}

.main {
  height: 100dvh;
  background: gray;
}

.container {
  height: 100%;
  padding:0 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quadrado {
 height: 400px;
 width: 200px;
 border-radius: 25%;
 background: white;
}

.circulo {
  height: 400px;
  width: 200px;
  border-radius: 50%;
  background: white;
}

.sobre {
  height: 100dvh;
  background: rgb(54, 54, 54);
}

.text {
  max-width: 400px;
}

.text p {
  color: white;
  font-size: 30px;
}

.contato {
  height: 100dvh;
  width: 100%;
  background: gray;
}

.contato .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

input {
  border-radius: 10px;
}

.nome, .email {
  padding-bottom: 10px;
}

.footer {
  height: 80px;
  background: black;
}
