* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    width: 100%;
    height: 80px;
    background: black;
}

.main {
    height: 100dvh;
    background: gray;
}

.sobre {
    height: 100dvh;
    background: rgb(54, 54, 54);
}

.contato {
    height: 100dvh;
    background: gray;
}

.footer {
    height: 80px;
    background: black;
}