* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px;
    background: white;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.black {
    background: black;
}

.green {
    background: green;
}

.btn {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s ease;
}

#blue {
    color: white;
    background: blue;
    border: 2px solid blue;
}

#blue:hover {
    color: blue;
    background: white;
    border: 2px solid blue;
}

#red {
    color: white;
    background: red;
    border: 2px solid red;
}

#red:hover {
    color: red;
    background: white;
    border: 2px solid red;
}

#black {
    color: white;
    background: black;
    border: 2px solid black;
}

#black:hover {
    color: black;
    background: white;
    border: 2px solid black;
}

#green {
    color: white;
    background: green;
    border: 2px solid green;
}

#green:hover {
    color: green;
    background: white;
    border: 2px solid green;
}

.btn.active {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
}