* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background: gray;
}

.btn {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
}

#blue {
    color: white;
    background: blue;
    border: 2px solid blue;
    transition: .5s ease;
}

#blue:hover {
    color: blue;
    background: gray;
    border: 2px solid blue;
}

#red {
    color: white;
    background: red;
    border: 2px solid red;
    transition: .5s ease;
}

#red:hover {
    color: red;
    background: gray;
    border: 2px solid red;
}

