* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    padding: 15px;
    background: #c4c4c4;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 150px;
    gap: 20px;
}

.itens {
    height: 150px;
    width: 100%;
    background: black;
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.itens:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
    transform: scale(1.02);
}