* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background: #c4c4c4;

}

.itens {
    height: 150px;
    width: 100%;
    background: black;
    border-radius: 15px;
}