* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    color: black;
}

.texto {
    color: blue;
}

.card p {
    color: green;
}

.card .texto {
    color: orange;
}

#perfil p {
    color: red;
}

div .destaque {
    color: purple;
}