* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather Sans, sans-serif;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --text-color-black: #000;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

.card-left {
  width: 348px;
  background: var(--bg-cards);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.card-right {
  background: var(--bg-cards);
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  gap: 60px;
  padding: 40px;
  background-color: var(--body-bg-color);
}

.profile {
  text-align: center;
  color: var(--text-color);
  padding: 32px 0 49px 0;
  margin-bottom: 30px;
}

.profile img {
  margin-bottom: 30px;
}

.profile h1 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.profile p {
  font-size: 13px;
  font-weight: light;
}

.links {
  padding: 30px 0 10px 40px;
  margin-bottom: 30px;
}

.links ul {
  list-style: none;
}

.links li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.links a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 12px;
  font-weight: regular;
}

.links img {
  width: 24px;
  height: 24px;
}

.tecnologies {
  padding: 30px 20px 15px 20px;
  margin-bottom: 30px;
}

.tecnologies h2 {
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.skills-tech {
  padding: 0 10px;
}

.skills {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.skills p {
  text-align: center;
  padding: 6px 0 7px 0;

  color: var(--text-color-black);
  background-color: var(--bg-techs);
  border-radius: 20px;
  height: 24px;
  width: 86px;
  font-size: 10px;
  font-weight: bold;
}

.experience {
  padding: 30px 0 15px 20px;
  color: var(--text-color);
  margin-bottom: 30px;
}

.experience h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.experience ul {
  margin-left: 20px;
  padding-left: 25px;
}

.experience h3 {
  font-size: 14px;
  font-weight: bold;
}

.experience li {
  margin-bottom: 15px;
}

.experience p {
  font-size: 12px;
  font-weight: light;
}

.education {
  padding: 30px 0 15px 20px;
  color: var(--text-color);
}

.education h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.education ul {
  margin-left: 20px;
  padding-left: 25px;
}

.education h3 {
  font-size: 14px;
  font-weight: bold;
}

.education li {
  margin-bottom: 15px;
}

.education p {
  font-size: 12px;
  font-weight: light;
}

.right {
  width: 100%;
}

.myprojects {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  color: var(--text-color);
  margin-bottom: 31px;
}

.projects-content {
  display: flex;
  gap: 30px;
}
.project-card {
  padding: 30px;
  color: var(--text-color);
}

.project-card .top {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 22px;
}

.project-card .top img {
  width: 20px;
  height: 20px;
}

.project-card .top h3 {
  font-size: 16px;
  font-weight: bold;
}

.project-card p {
  font-size: 14px;
  font-weight: regular;
}

.project-card .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
}

.project-card .bottom .bottom-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.project-card .bottom .bottom-left .box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-card .bottom .bottom-left .box img {
  width: 20px;
  height: 20px;
}

.project-card .bottom .bottom-left p {
  font-size: 14px;
  font-weight: regular;
}

.project-card .bottom .bottom-right {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-card .bottom .bottom-right img {
  width: 15px;
  height: 15px;
}

.project-card .bottom .bottom-right p {
  font-size: 14px;
  font-weight: regular;
}
