* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Merriweather Sans, sans-serif;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background-color: var(--body-bg-color);
}

.content {
  display: flex;
}

.box {
  width: 348px;
  margin-left: 40px;
  margin-bottom: 30px;
  padding: 1rem;
  background: var(--bg-cards);
  border-radius: 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.left {
  width: 25%;
  color: var(--text-color);
}

.perfil.box {
  margin-top: 40px;
}

.perfil {
  width: 348px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.perfil img {
  height: 128px;
  width: 128px;
  margin-top: 32px;
  margin-left: 110px;
  margin-right: 110px;
  margin-bottom: 30px;
}

.perfil h1 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 10px;
}

.perfil p {
  margin-bottom: 49px;
}

.contact {
  padding-left: 40px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.contact .info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact .info img,
p {
  margin-top: 20px;
}

.contact .info img {
  font-size: 24px;
}

.contact .info p {
  font-size: 12px;
}

.perfil p {
  font-size: 13px;
  font-weight: lighter;
  margin-bottom: 49px;
}

.right {
  display: none;
  width: 75%;
  border: 2px solid red;
}
