* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background: gray;
    display: grid;
}

.itens {
    height: 150px;
    width: 100%;
    background: black;
    border-radius: 15px;
}