* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    border: 2px solid red;
    width: 400px;
    padding: 30px;
}
