* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid red;
    padding: 30px;
    background: black;
}

.form .in {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form label {
    font-size: 20px;
    font-weight: 300;
    color: whitesmoke;
}

.form input {
    width: 50px;
}
