* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: gray;
    min-height: 100vh;
}

.header {
    grid-area: header;
    background: black;
    height: 90px;
    width: 100%;
}

.left {
    grid-area: bar-left;
    height: 100vh;
    background: red;
}

.user {
    grid-area: user;
    height: 100vh;
    width: 100%;
    background: green;
}

.right {}