* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
