* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f0f0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box {
    text-align: center;
}

#imagem {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}
.botoes button {
    padding: 10px 15px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.botoes button:hover {
    background: #0056b3;
}
