* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
}

.header {
    grid-area: header;
    height: 80px;
    background: black;
}

.sidebar {
    grid-area: aside;
    height: 100vh;
    background: red
}

.projects {
    grid-area: main;
    height: 100vh;
    background: blue;
}

.footer {
    grid-area: footer;
    height: 80px;
    background: black;
}