*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: gray;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 50px;
    background: #00005a;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: aliceblue;
    font-size: 30px;
    font-weight: bolder;
}

.button {
    background: none;
    border: none;
    color: aliceblue;
    font-size: 30px;
    display: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    transition: .2s ease;
}

.nav a:hover, .nav a.active {
    color: #8585f7;
}

.section {
    height: 100vh;
}

#inicio {
    background: aqua;
}

#sobre {
    background: yellow;
}

#servicos {
    background: green;
}

