* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px;
    gap: 20px;
}

.itens {
    height: 150px;
    width: 150px;
    background: blue;
    border-radius: 15px;
}