* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid {
    height: 100px;
    width: 150px;
    background: blue;
    color: aliceblue;
    font-size: 30px;
}

.none {
    display: none;
}