* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    transition: background-color 0.3s ease;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    color: #fff;
}

#btnAzul {
    background: #007bff;
}

#btnVermelho {
    background: #e50914;
}

#btnVerde {
    background: #28a745;
}

/* Classes de cor */
.bg-azul {
    background-color: blue;
}

.bg-vermelho {
    background-color: red;
}

.bg-verde {
    background-color: green;
}
