* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
}

.card {
    height: 150px;
    background: black;
    border-radius: 15px;
}