* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Spartan, Work Sans, sans-serif;
}

:root {
  --body-bg-color: #121214;
  --text-color: #e1e1e6;
  --title-color: #04d361;
  --form-color: #a8a8a8;
  --bg-button-color: #8257e5;
}

.container {
  height: 100vh;
  background-image: url("../images/read_news.jpg");
  background-size: contain;
  /* background-size: calc(100% - 350px) 100%; Testando */
  background-position: right center;
  background-repeat: no-repeat;
}

.container-background {
  height: 100vh;
  width: 50%;
  background: var(--body-bg-color);
}
