* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
}

.sidebar {
    height: 100vh;
    background: red;
    border-radius: 0 15px 15px 0;
}

.cards {
    height: 100vh;
    padding: 30px;
    background: aliceblue;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
}

.card {
    height: 100%;
    width: 100%;
    background: black;
    border-radius: 10px;
}