* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: flex;
    /* flex-direction: column; */
    gap: 30px;
    align-items: center;
}

.card {
    width: 150px;
    height: 150px;
    background-color: #2563eb;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.281);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
}
