* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    background: url(../images/background.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 150px;
    border-radius: 50%;
}