* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
  --bg-color: #1e1f29;
  --second-bg-color: #4b4d63;
  --text-color: #f3f3f3;
  --main-color: #45b8ed;
}

.container {
    height: 100vh;
    background: url(../images/background.jpg) center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 150px;
    border-radius: 50%;
}

h1 {
    color: var(--text-color);
}

h1 span {
    color: var(--main-color);
}