* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    position: fixed;
    height: 80px;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.logo {
    color: aqua;
    font-size: 20px;
    font-weight: 600;
}

.nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    color: aqua;
    transition: .3s ease-in-out;
}

.nav a:hover, .nav a.active {
    color: rgb(211, 212, 212);
    transform: scale(1.1);
}

section {
    height: 100vh;
    padding: 80px 0;
}

.home {
    background: blue;
}

.about {
    background: aquamarine;
}

.service {
    background: green;
}

.contact {
    background: greenyellow;
}

