* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background: black;
}

section {
    height: 100vh;
}

.home {
    background: blue;
}

.about {
    background: aqua;
}

.contact {
    background: aquamarine;
}

.footer {
    background: black;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.footer-logo p {
    color: aliceblue;
    font-size: 40px;
}

.footer-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: aliceblue;
}

