* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cabecalho nav {
    display: flex;
    gap: 30px;
}

.cabecalho nav a {
    text-decoration: none;
    font-size: 20px;
    color: gray;
}