* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    padding: 20px;
    background: gray;
}

img {
    height: 250px;
    width: 350px;
    object-fit: cover;
    border-radius: 15px;
}