* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background: #c5c5c5;
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.itens {
    height: 150px;
    width: 100%;
    background: black;
    border-radius: 15px;
}