* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background: aliceblue;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas: 
    "header header"
    "products finish";
}

.header {
    grid-area: header;
    height: 90px;
    background: black;
}

.products {
    grid-area: products;
    background: red;
    height: 100vh;
}

.finish {
    grid-area: finish;
    background: green;
    height: 100vh;
}

.itens {
    height: 150px;
    width: 100%;
    background: black;
}