* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    background: aliceblue;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-areas: 
    "header header";
}

.header {
    height: 90px;
    background: black;
}