* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  position: relative;
  height: 102px;
  width: 235.38px;
  background: var(--label);
  border-radius: 50px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.light {
  background: var(--light);
}

.light-btn {
  position: absolute;
}

.dark {
  background: var(--dark);
}