* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

.container {
  height: 100vh;
  background: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background .2s linear;
}

.label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px;
  width: 235.38px;
  padding: 8px 11px;
  background: var(--label);
  border-radius: 50px;
  cursor: pointer;
  transform: scale(1.5);
}

.ckb {
  opacity: 0;
  position: absolute;
}

img {
  height: 94.15px;
  width: 94.14px;
}

.ball {
  position: absolute;
  height: 86.31px;
  width: 86.31px;
  background: var(--light);
  border-radius: 50%;
  transform: translateX(0px);
  transition: transform .2s linear;
}

.dark-mode {
  background: var(--dark);
}